In [1]:
import pandas as pd
import numpy as np
import os as os

# SQL Alchemy
from sqlalchemy import create_engine

In [25]:
# Create Engine for employee db
engine = create_engine('postgresql://localhost:5432/Minneapolis_Police_Force_db')
connection = engine.connect()

In [3]:
#load csv into dataframe
load_csv = "resources/MLPS_Hsld_Income_by_Neighborhood.csv"
MLPS_Household_Income_df = pd.read_csv(load_csv)
MLPS_Household_Income_df.head()

,Neighborhood,Website_Link,IncomeLess35000_count,IncomeLess35000_percent,IncomeLess35to49_count,IncomeLess35to49_percent,IncomeLess50to74_count,IncomeLess50to74_percent,IncomeLess75to99_count,IncomeLess75to99_percent,Income100Plus_count,Income100Plus_percent,Median_Income_Total
0,Armatage,http://www.mncompass.org/profiles/neighborhood...,\n 296\n ...,\n 14.5%\n ...,\n 126\n ...,\n 6.2%\n ...,\n 253\n ...,\n 12.4%\n ...,\n 253\n ...,\n 253\n ...,"\n 1,117\n ...",\n 54.6%\n ...,"\n $ 125,329\n ..."
1,Audubon Park,http://www.mncompass.org/profiles/neighborhood...,\n 394\n ...,\n 17.7%\n ...,\n 319\n ...,\n 14.4%\n ...,\n 379\n ...,\n 17.0%\n ...,\n 365\n ...,\n 365\n ...,\n 768\n ...,\n 34.5%\n ...,"\n $ 67,343\n ..."
2,Bancroft,http://www.mncompass.org/profiles/neighborhood...,\n 279\n ...,\n 19.1%\n ...,\n 200\n ...,\n 13.7%\n ...,\n 317\n ...,\n 21.7%\n ...,\n 256\n ...,\n 256\n ...,\n 410\n ...,\n 28.0%\n ...,"\n $ 71,456\n ..."
3,Cedar - Isles - Dean,http://www.mncompass.org/profiles/neighborhood...,\n 238\n ...,\n 14.6%\n ...,\n 169\n ...,\n 10.3%\n ...,\n 207\n ...,\n 12.7%\n ...,\n 168\n ...,\n 168\n ...,\n 853\n ...,\n 52.2%\n ...,"\n $ 98,201\n ..."
4,Cedar Riverside,http://www.mncompass.org/profiles/neighborhood...,"\n 2,477\n ...",\n 73.0%\n ...,\n 403\n ...,\n 11.9%\n ...,\n 342\n ...,\n 10.1%\n ...,\n suppressed\n ...,\n suppressed\n ...,\n suppressed\n ...,\n,"\n $ 24,944\n ..."

In [4]:
#Replace \n, commas, %, $ in source data with ''
MLPS_Household_Income_df = MLPS_Household_Income_df.replace('\n','', regex=True)
MLPS_Household_Income_df = MLPS_Household_Income_df.replace(',','', regex=True)
MLPS_Household_Income_df = MLPS_Household_Income_df.replace('%','', regex=True)
MLPS_Household_Income_df = MLPS_Household_Income_df.replace('$','', regex=True)
MLPS_Household_Income_df.head()

,Neighborhood,Website_Link,IncomeLess35000_count,IncomeLess35000_percent,IncomeLess35to49_count,IncomeLess35to49_percent,IncomeLess50to74_count,IncomeLess50to74_percent,IncomeLess75to99_count,IncomeLess75to99_percent,Income100Plus_count,Income100Plus_percent,Median_Income_Total
0,Armatage,http://www.mncompass.org/profiles/neighborhood...,296,14.5 ...,126,6.2,253,12.4 ...,253,253,1117 ...,54.6 ...,$ 125329 ...
1,Audubon Park,http://www.mncompass.org/profiles/neighborhood...,394,17.7 ...,319,14.4 ...,379,17.0 ...,365,365,768,34.5 ...,$ 67343 ...
2,Bancroft,http://www.mncompass.org/profiles/neighborhood...,279,19.1 ...,200,13.7 ...,317,21.7 ...,256,256,410,28.0 ...,$ 71456 ...
3,Cedar - Isles - Dean,http://www.mncompass.org/profiles/neighborhood...,238,14.6 ...,169,10.3 ...,207,12.7 ...,168,168,853,52.2 ...,$ 98201 ...
4,Cedar Riverside,http://www.mncompass.org/profiles/neighborhood...,2477 ...,73.0 ...,403,11.9 ...,342,10.1 ...,suppressed ...,suppressed ...,suppressed ...,,$ 24944 ...

In [5]:
#Trim whitespace from ends of each value across all series in dataframe

MLPS_Household_Income_df = MLPS_Household_Income_df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
MLPS_Household_Income_df.head()

,Neighborhood,Website_Link,IncomeLess35000_count,IncomeLess35000_percent,IncomeLess35to49_count,IncomeLess35to49_percent,IncomeLess50to74_count,IncomeLess50to74_percent,IncomeLess75to99_count,IncomeLess75to99_percent,Income100Plus_count,Income100Plus_percent,Median_Income_Total
0,Armatage,http://www.mncompass.org/profiles/neighborhood...,296,14.5,126,6.2,253,12.4,253,253,1117,54.6,$ 125329
1,Audubon Park,http://www.mncompass.org/profiles/neighborhood...,394,17.7,319,14.4,379,17.0,365,365,768,34.5,$ 67343
2,Bancroft,http://www.mncompass.org/profiles/neighborhood...,279,19.1,200,13.7,317,21.7,256,256,410,28.0,$ 71456
3,Cedar - Isles - Dean,http://www.mncompass.org/profiles/neighborhood...,238,14.6,169,10.3,207,12.7,168,168,853,52.2,$ 98201
4,Cedar Riverside,http://www.mncompass.org/profiles/neighborhood...,2477,73.0,403,11.9,342,10.1,suppressed,suppressed,suppressed,,$ 24944

In [6]:
#Extract the median income by removing '$ ' and converting to float
MLPS_Household_Income_df['Median_Income_Total'] = MLPS_Household_Income_df['Median_Income_Total'].str[2:].astype(float)
MLPS_Household_Income_df.head()

,Neighborhood,Website_Link,IncomeLess35000_count,IncomeLess35000_percent,IncomeLess35to49_count,IncomeLess35to49_percent,IncomeLess50to74_count,IncomeLess50to74_percent,IncomeLess75to99_count,IncomeLess75to99_percent,Income100Plus_count,Income100Plus_percent,Median_Income_Total
0,Armatage,http://www.mncompass.org/profiles/neighborhood...,296,14.5,126,6.2,253,12.4,253,253,1117,54.6,125329.0
1,Audubon Park,http://www.mncompass.org/profiles/neighborhood...,394,17.7,319,14.4,379,17.0,365,365,768,34.5,67343.0
2,Bancroft,http://www.mncompass.org/profiles/neighborhood...,279,19.1,200,13.7,317,21.7,256,256,410,28.0,71456.0
3,Cedar - Isles - Dean,http://www.mncompass.org/profiles/neighborhood...,238,14.6,169,10.3,207,12.7,168,168,853,52.2,98201.0
4,Cedar Riverside,http://www.mncompass.org/profiles/neighborhood...,2477,73.0,403,11.9,342,10.1,suppressed,suppressed,suppressed,,24944.0

In [7]:
#Replace 'suppressed' and blank fields with NaN
MLPS_Household_Income_df= MLPS_Household_Income_df.replace('suppressed', np.nan)
MLPS_Household_Income_df= MLPS_Household_Income_df.replace('', np.nan)

In [8]:
#Covert all count fields to numeric and if there are invalid numbers

MLPS_Household_Income_df['IncomeLess35000_count'] = pd.to_numeric(MLPS_Household_Income_df['IncomeLess35000_count'])

MLPS_Household_Income_df['IncomeLess35to49_count'] = pd.to_numeric(MLPS_Household_Income_df['IncomeLess35to49_count'])

MLPS_Household_Income_df['IncomeLess50to74_count'] = pd.to_numeric(MLPS_Household_Income_df['IncomeLess50to74_count'])

MLPS_Household_Income_df['IncomeLess75to99_count'] = pd.to_numeric(MLPS_Household_Income_df['IncomeLess75to99_count'])

MLPS_Household_Income_df['Income100Plus_count'] = pd.to_numeric(MLPS_Household_Income_df['Income100Plus_count'])

MLPS_Household_Income_df.head()

,Neighborhood,Website_Link,IncomeLess35000_count,IncomeLess35000_percent,IncomeLess35to49_count,IncomeLess35to49_percent,IncomeLess50to74_count,IncomeLess50to74_percent,IncomeLess75to99_count,IncomeLess75to99_percent,Income100Plus_count,Income100Plus_percent,Median_Income_Total
0,Armatage,http://www.mncompass.org/profiles/neighborhood...,296.0,14.5,126.0,6.2,253.0,12.4,253.0,253,1117.0,54.6,125329.0
1,Audubon Park,http://www.mncompass.org/profiles/neighborhood...,394.0,17.7,319.0,14.4,379.0,17.0,365.0,365,768.0,34.5,67343.0
2,Bancroft,http://www.mncompass.org/profiles/neighborhood...,279.0,19.1,200.0,13.7,317.0,21.7,256.0,256,410.0,28.0,71456.0
3,Cedar - Isles - Dean,http://www.mncompass.org/profiles/neighborhood...,238.0,14.6,169.0,10.3,207.0,12.7,168.0,168,853.0,52.2,98201.0
4,Cedar Riverside,http://www.mncompass.org/profiles/neighborhood...,2477.0,73.0,403.0,11.9,342.0,10.1,NaN,NaN,NaN,NaN,24944.0

In [9]:
#Replace '%' in percent field and convert to float
MLPS_Household_Income_df['IncomeLess35000_percent'] = MLPS_Household_Income_df['IncomeLess35000_percent'].astype(float)

MLPS_Household_Income_df['IncomeLess35to49_percent'] = MLPS_Household_Income_df['IncomeLess35to49_percent'].astype(float)

MLPS_Household_Income_df['IncomeLess50to74_percent'] = MLPS_Household_Income_df['IncomeLess50to74_percent'].astype(float)

MLPS_Household_Income_df['IncomeLess75to99_percent'] = MLPS_Household_Income_df['IncomeLess75to99_percent'].astype(float)

MLPS_Household_Income_df['Income100Plus_percent'] = MLPS_Household_Income_df['Income100Plus_percent'].astype(float)

MLPS_Household_Income_df.head()

,Neighborhood,Website_Link,IncomeLess35000_count,IncomeLess35000_percent,IncomeLess35to49_count,IncomeLess35to49_percent,IncomeLess50to74_count,IncomeLess50to74_percent,IncomeLess75to99_count,IncomeLess75to99_percent,Income100Plus_count,Income100Plus_percent,Median_Income_Total
0,Armatage,http://www.mncompass.org/profiles/neighborhood...,296.0,14.5,126.0,6.2,253.0,12.4,253.0,253.0,1117.0,54.6,125329.0
1,Audubon Park,http://www.mncompass.org/profiles/neighborhood...,394.0,17.7,319.0,14.4,379.0,17.0,365.0,365.0,768.0,34.5,67343.0
2,Bancroft,http://www.mncompass.org/profiles/neighborhood...,279.0,19.1,200.0,13.7,317.0,21.7,256.0,256.0,410.0,28.0,71456.0
3,Cedar - Isles - Dean,http://www.mncompass.org/profiles/neighborhood...,238.0,14.6,169.0,10.3,207.0,12.7,168.0,168.0,853.0,52.2,98201.0
4,Cedar Riverside,http://www.mncompass.org/profiles/neighborhood...,2477.0,73.0,403.0,11.9,342.0,10.1,NaN,NaN,NaN,NaN,24944.0

In [10]:
#Count of records before join
MLPS_Household_Income_df['Neighborhood'].count()

57

In [11]:
#Fetch neighborhood data from Postgres
neighborhood_df = pd.read_sql("SELECT neighborhood_id, name FROM neighborhood", connection)
                              
neighborhood_df.head()

   neighborhood_id          name
0                1      Armatage
1                2  East Harriet
2                3        Fulton
3                4         Kenny
4                5    King Field

In [12]:
#Join neighborhood data and MLPS_Household_Income_df df to get community id for each neighborhood
neighborhood_income=pd.merge(MLPS_Household_Income_df, neighborhood_df, how='inner', left_on='Neighborhood', right_on='name')

neighborhood_income.head()

,Neighborhood,Website_Link,IncomeLess35000_count,IncomeLess35000_percent,IncomeLess35to49_count,IncomeLess35to49_percent,IncomeLess50to74_count,IncomeLess50to74_percent,IncomeLess75to99_count,IncomeLess75to99_percent,Income100Plus_count,Income100Plus_percent,Median_Income_Total,neighborhood_id,name
0,Armatage,http://www.mncompass.org/profiles/neighborhood...,296.0,14.5,126.0,6.2,253.0,12.4,253.0,253.0,1117.0,54.6,125329.0,1,Armatage
1,Audubon Park,http://www.mncompass.org/profiles/neighborhood...,394.0,17.7,319.0,14.4,379.0,17.0,365.0,365.0,768.0,34.5,67343.0,10,Audubon Park
2,Bancroft,http://www.mncompass.org/profiles/neighborhood...,279.0,19.1,200.0,13.7,317.0,21.7,256.0,256.0,410.0,28.0,71456.0,23,Bancroft
3,Cedar - Isles - Dean,http://www.mncompass.org/profiles/neighborhood...,238.0,14.6,169.0,10.3,207.0,12.7,168.0,168.0,853.0,52.2,98201.0,33,Cedar - Isles - Dean
4,Cedar Riverside,http://www.mncompass.org/profiles/neighborhood...,2477.0,73.0,403.0,11.9,342.0,10.1,NaN,NaN,NaN,NaN,24944.0,49,Cedar Riverside

In [13]:
#Count of records after join
neighborhood_income['Neighborhood'].count()

57

In [14]:
neighborhood_income.sort_values('neighborhood_id')

,Neighborhood,Website_Link,IncomeLess35000_count,IncomeLess35000_percent,IncomeLess35to49_count,IncomeLess35to49_percent,IncomeLess50to74_count,IncomeLess50to74_percent,IncomeLess75to99_count,IncomeLess75to99_percent,Income100Plus_count,Income100Plus_percent,Median_Income_Total,neighborhood_id,name
0,Armatage,http://www.mncompass.org/profiles/neighborhood...,296.0,14.5,126.0,6.2,253.0,12.4,253.0,253.0,1117.0,54.6,125329.0,1,Armatage
12,East Harriet,http://www.mncompass.org/profiles/neighborhood...,247.0,15.7,186.0,11.8,240.0,15.2,234.0,234.0,669.0,42.5,83206.0,2,East Harriet
17,Fulton,http://www.mncompass.org/profiles/neighborhood...,280.0,10.9,133.0,5.2,206.0,8.0,262.0,262.0,1696.0,65.8,136824.0,3,Fulton
23,Kenny,http://www.mncompass.org/profiles/neighborhood...,191.0,12.9,92.0,6.2,171.0,11.6,165.0,165.0,862.0,58.2,112545.0,4,Kenny
24,King Field,http://www.mncompass.org/profiles/neighborhood...,607.0,18.2,401.0,12.0,523.0,15.7,467.0,467.0,1331.0,40.0,83495.0,5,King Field
26,Linden Hills,http://www.mncompass.org/profiles/neighborhood...,510.0,14.5,236.0,6.7,568.0,16.2,401.0,401.0,1792.0,51.1,127961.0,6,Linden Hills
32,Lynnhurst,http://www.mncompass.org/profiles/neighborhood...,175.0,8.2,95.0,4.4,195.0,9.1,232.0,232.0,1448.0,67.5,120073.0,7,Lynnhurst
47,Tangletown,http://www.mncompass.org/profiles/neighborhood...,251.0,13.5,193.0,10.4,219.0,11.8,225.0,225.0,971.0,52.2,118808.0,8,Tangletown
55,Windom,http://www.mncompass.org/profiles/neighborhood...,377.0,18.9,218.0,10.9,303.0,15.2,249.0,249.0,852.0,42.6,105594.0,9,Windom
1,Audubon Park,http://www.mncompass.org/profiles/neighborhood...,394.0,17.7,319.0,14.4,379.0,17.0,365.0,365.0,768.0,34.5,67343.0,10,Audubon Park
20,Holland,http://www.mncompass.org/profiles/neighborhood...,721.0,39.0,187.0,10.1,367.0,19.9,279.0,279.0,293.0,15.9,55987.0,14,Holland
43,Sheridan,http://www.mncompass.org/profiles/neighborhood...,497.0,32.8,225.0,14.8,142.0,9.4,212.0,212.0,439.0,29.0,51935.0,18,Sheridan
50,Waite Park,http://www.mncompass.org/profiles/neighborhood...,402.0,17.3,249.0,10.7,494.0,21.2,344.0,344.0,841.0,36.1,73768.0,21,Waite Park
56,Windom Park,http://www.mncompass.org/profiles/neighborhood...,790.0,28.9,337.0,12.3,373.0,13.6,352.0,352.0,885.0,32.3,62342.0,22,Windom Park
2,Bancroft,http://www.mncompass.org/profiles/neighborhood...,279.0,19.1,200.0,13.7,317.0,21.7,256.0,256.0,410.0,28.0,71456.0,23,Bancroft
5,Central,http://www.mncompass.org/profiles/neighborhood...,754.0,31.4,323.0,13.5,490.0,20.4,313.0,313.0,522.0,21.7,51864.0,25,Central
8,Corcoran,http://www.mncompass.org/profiles/neighborhood...,467.0,27.9,277.0,16.5,332.0,19.8,223.0,223.0,376.0,22.4,55278.0,26,Corcoran
31,Lyndale,http://www.mncompass.org/profiles/neighborhood...,1350.0,41.7,409.0,12.6,496.0,15.3,325.0,325.0,659.0,20.3,49714.0,27,Lyndale
40,Powderhorn Park,http://www.mncompass.org/profiles/neighborhood...,831.0,25.4,582.0,17.8,635.0,19.4,518.0,518.0,701.0,21.5,53735.0,28,Powderhorn Park
45,Standish,http://www.mncompass.org/profiles/neighborhood...,553.0,20.1,306.0,11.1,517.0,18.8,479.0,479.0,899.0,32.6,70501.0,29,Standish
53,Whittier,http://www.mncompass.org/profiles/neighborhood...,3232.0,44.6,1102.0,15.2,1294.0,17.8,681.0,681.0,945.0,13.0,38431.0,30,Whittier
44,South Uptown,http://www.mncompass.org/profiles/neighborhood...,751.0,23.5,450.0,14.1,784.0,24.5,483.0,483.0,726.0,22.7,62127.0,32,South Uptown
3,Cedar - Isles - Dean,http://www.mncompass.org/profiles/neighborhood...,238.0,14.6,169.0,10.3,207.0,12.7,168.0,168.0,853.0,52.2,98201.0,33,Cedar - Isles - Dean
13,East Isles,http://www.mncompass.org/profiles/neighborhood...,297.0,16.0,207.0,11.1,292.0,15.7,192.0,192.0,871.0,46.9,79964.0,34,East Isles
11,ECCO,http://www.mncompass.org/profiles/neighborhood...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,ECCO
29,Lowry Hill,http://www.mncompass.org/profiles/neighborhood...,464.0,20.2,267.0,11.6,366.0,15.9,272.0,272.0,931.0,40.5,83762.0,37,Lowry Hill
30,Lowry Hill East,http://www.mncompass.org/profiles/neighborhood...,1096.0,26.6,640.0,15.5,864.0,21.0,547.0,547.0,975.0,23.7,62035.0,38,Lowry Hill East
16,Folwell,http://www.mncompass.org/profiles/neighborhood...,689.0,36.2,441.0,23.1,355.0,18.7,223.0,223.0,196.0,10.3,40938.0,42,Folwell
25,Lind - Bohanon,http://www.mncompass.org/profiles/neighborhood...,690.0,37.9,428.0,23.5,272.0,14.9,188.0,188.0,242.0,13.3,52892.0,44,Lind - Bohanon
49,Victory,http://www.mncompass.org/profiles/neighborhood...,588.0,29.8,226.0,11.4,352.0,17.8,238.0,238.0,570.0,28.9,55828.0,47,Victory
51,Webber - Camden,http://www.mncompass.org/profiles/neighborhood...,1011.0,47.6,294.0,13.9,371.0,17.5,179.0,179.0,269.0,12.6,48802.0,48,Webber - Camden
4,Cedar Riverside,http://www.mncompass.org/profiles/neighborhood...,2477.0,73.0,403.0,11.9,342.0,10.1,NaN,NaN,NaN,NaN,24944.0,49,Cedar Riverside
6,Como,http://www.mncompass.org/profiles/neighborhood...,851.0,38.7,462.0,21.0,358.0,16.3,266.0,266.0,261.0,11.9,57601.0,50,Como
33,Marcy Holmes,http://www.mncompass.org/profiles/neighborhood...,2749.0,49.5,892.0,16.0,757.0,13.6,343.0,343.0,817.0,14.7,45417.0,51,Marcy Holmes
41,Prospect Park - East River Road,http://www.mncompass.org/profiles/neighborhood...,1489.0,46.1,411.0,12.7,354.0,10.9,304.0,304.0,675.0,20.9,53528.0,54,Prospect Park - East River Road
7,Cooper,http://www.mncompass.org/profiles/neighborhood...,294.0,18.5,202.0,12.7,286.0,18.0,198.0,198.0,613.0,38.5,77818.0,56,Cooper
19,Hiawatha,http://www.mncompass.org/profiles/neighborhood...,700.0,25.6,254.0,9.3,547.0,20.0,316.0,316.0,921.0,33.7,72512.0,57,Hiawatha
21,Howe,http://www.mncompass.org/profiles/neighborhood...,757.0,25.2,328.0,10.9,568.0,18.9,424.0,424.0,924.0,30.8,71004.0,58,Howe
27,Longfellow,http://www.mncompass.org/profiles/neighborhood...,801.0,35.1,277.0,12.1,411.0,18.0,297.0,297.0,494.0,21.7,59890.0,59,Longfellow
42,Seward,http://www.mncompass.org/profiles/neighborhood...,1815.0,48.1,449.0,11.9,461.0,12.2,341.0,341.0,711.0,18.8,44663.0,60,Seward
9,Diamond Lake,http://www.mncompass.org/profiles/neighborhood...,314.0,14.5,156.0,7.2,432.0,19.9,316.0,316.0,947.0,43.7,97162.0,61,Diamond Lake
15,Ericsson,http://www.mncompass.org/profiles/neighborhood...,219.0,14.3,157.0,10.2,329.0,21.4,195.0,195.0,635.0,41.4,80294.0,62,Ericsson
35,Minnehaha,http://www.mncompass.org/profiles/neighborhood...,489.0,25.1,169.0,8.7,374.0,19.2,267.0,267.0,648.0,33.3,69768.0,66,Minnehaha
38,Northrop,http://www.mncompass.org/profiles/neighborhood...,212.0,11.4,148.0,8.0,403.0,21.8,309.0,309.0,779.0,42.1,92764.0,68,Northrop
52,Wenonah,http://www.mncompass.org/profiles/neighborhood...,478.0,25.0,216.0,11.3,381.0,20.0,226.0,226.0,609.0,31.9,89273.0,71,Wenonah
10,Downtown West,http://www.mncompass.org/profiles/neighborhood...,1255.0,29.5,310.0,7.3,696.0,16.4,467.0,467.0,1528.0,35.9,60383.0,73,Downtown West
14,Elliot Park,http://www.mncompass.org/profiles/neighborhood...,2005.0,58.8,305.0,9.0,269.0,7.9,199.0,199.0,629.0,18.5,37119.0,74,Elliot Park
28,Loring Park,http://www.mncompass.org/profiles/neighborhood...,2650.0,42.3,536.0,8.6,1089.0,17.4,597.0,597.0,1387.0,22.2,48774.0,75,Loring Park
37,North Loop,http://www.mncompass.org/profiles/neighborhood...,640.0,17.4,NaN,NaN,503.0,13.7,582.0,582.0,1821.0,49.5,66433.0,76,North Loop
46,Steven's Square - Loring Heights,http://www.mncompass.org/profiles/neighborhood...,1654.0,57.9,363.0,12.7,386.0,13.5,178.0,178.0,275.0,9.6,33963.0,77,Steven's Square - Loring Heights
34,Midtown Phillips,http://www.mncompass.org/profiles/neighborhood...,501.0,31.9,286.0,18.2,452.0,28.8,137.0,137.0,196.0,12.5,33463.0,79,Midtown Phillips
39,Phillips West,http://www.mncompass.org/profiles/neighborhood...,1532.0,71.1,194.0,9.0,199.0,9.2,63.0,63.0,167.0,7.7,34930.0,80,Phillips West
48,Ventura Village,http://www.mncompass.org/profiles/neighborhood...,1453.0,65.0,395.0,17.7,221.0,9.9,NaN,NaN,107.0,4.8,27673.0,81,Ventura Village
18,Hawthorne,http://www.mncompass.org/profiles/neighborhood...,876.0,57.2,178.0,11.6,193.0,12.6,117.0,117.0,166.0,10.9,40378.0,83,Hawthorne
22,Jordan,http://www.mncompass.org/profiles/neighborhood...,1010.0,43.6,327.0,14.1,422.0,18.2,253.0,253.0,305.0,13.2,45907.0,84,Jordan
36,Near - North,http://www.mncompass.org/profiles/neighborhood...,1204.0,53.4,286.0,12.7,328.0,14.5,152.0,152.0,285.0,12.6,47087.0,85,Near - North
54,Willard - Hay,http://www.mncompass.org/profiles/neighborhood...,994.0,33.2,435.0,14.5,573.0,19.1,470.0,470.0,521.0,17.4,62908.0,87,Willard - Hay

In [15]:
#Extract columns to be used in final target
clean_df = neighborhood_income[['neighborhood_id','IncomeLess35000_count','IncomeLess35000_percent','IncomeLess35to49_count',
                                'IncomeLess35to49_percent','IncomeLess50to74_count','IncomeLess50to74_percent',
                                'IncomeLess75to99_count','IncomeLess75to99_percent','Income100Plus_count',
                                'Income100Plus_percent','Median_Income_Total']]

clean_df.head()

,neighborhood_id,IncomeLess35000_count,IncomeLess35000_percent,IncomeLess35to49_count,IncomeLess35to49_percent,IncomeLess50to74_count,IncomeLess50to74_percent,IncomeLess75to99_count,IncomeLess75to99_percent,Income100Plus_count,Income100Plus_percent,Median_Income_Total
0,1,296.0,14.5,126.0,6.2,253.0,12.4,253.0,253.0,1117.0,54.6,125329.0
1,10,394.0,17.7,319.0,14.4,379.0,17.0,365.0,365.0,768.0,34.5,67343.0
2,23,279.0,19.1,200.0,13.7,317.0,21.7,256.0,256.0,410.0,28.0,71456.0
3,33,238.0,14.6,169.0,10.3,207.0,12.7,168.0,168.0,853.0,52.2,98201.0
4,49,2477.0,73.0,403.0,11.9,342.0,10.1,NaN,NaN,NaN,NaN,24944.0

In [16]:
#Start index from 1 in clean_df and rename index field
clean_df.index = np.arange(1, len(clean_df)+1)
clean_df.index = clean_df.index.set_names(['household_income_by_neighborhood_id'])

clean_df.head()

,neighborhood_id,IncomeLess35000_count,IncomeLess35000_percent,IncomeLess35to49_count,IncomeLess35to49_percent,IncomeLess50to74_count,IncomeLess50to74_percent,IncomeLess75to99_count,IncomeLess75to99_percent,Income100Plus_count,Income100Plus_percent,Median_Income_Total
household_income_by_neighborhood_id,,,,,,,,,,,,
1,1,296.0,14.5,126.0,6.2,253.0,12.4,253.0,253.0,1117.0,54.6,125329.0
2,10,394.0,17.7,319.0,14.4,379.0,17.0,365.0,365.0,768.0,34.5,67343.0
3,23,279.0,19.1,200.0,13.7,317.0,21.7,256.0,256.0,410.0,28.0,71456.0
4,33,238.0,14.6,169.0,10.3,207.0,12.7,168.0,168.0,853.0,52.2,98201.0
5,49,2477.0,73.0,403.0,11.9,342.0,10.1,NaN,NaN,NaN,NaN,24944.0

In [22]:
#Rename df names to match Postgres table
clean_df.rename(columns={'IncomeLess35000_count': 'incomeless35000_count'
                         ,'IncomeLess35000_percent':'incomeless35000_percent'
                        ,'IncomeLess35to49_count':'incomeless35to49_count'
                        ,'IncomeLess35to49_percent':'incomeless35to49_percent'
                        ,'IncomeLess50to74_count':'incomeless50to74_count'
                         ,'IncomeLess50to74_percent':'incomeless50to74_percent'
                        ,'IncomeLess75to99_count':'incomeless75to99_count'
                        ,'IncomeLess75to99_percent':'incomeless75to99_percent'
                        ,'Income100Plus_count':'income100plus_count'
                        ,'Income100Plus_percent':'income100plus_percent'
                        ,'Median_Income_Total':'median_income_total'}, inplace=True)
clean_df.head()

C:\Users\swain\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,neighborhood_id,incomeless35000_count,incomeless35000_percent,incomeless35to49_count,incomeless35to49_percent,incomeless50to74_count,incomeless50to74_percent,incomeless75to99_count,incomeless75to99_percent,income100plus_count,income100plus_percent,median_income_total
household_income_by_neighborhood_id,,,,,,,,,,,,
1,1,296.0,14.5,126.0,6.2,253.0,12.4,253.0,253.0,1117.0,54.6,125329.0
2,10,394.0,17.7,319.0,14.4,379.0,17.0,365.0,365.0,768.0,34.5,67343.0
3,23,279.0,19.1,200.0,13.7,317.0,21.7,256.0,256.0,410.0,28.0,71456.0
4,33,238.0,14.6,169.0,10.3,207.0,12.7,168.0,168.0,853.0,52.2,98201.0
5,49,2477.0,73.0,403.0,11.9,342.0,10.1,NaN,NaN,NaN,NaN,24944.0

In [28]:
#append data to Postgres existing table
clean_df.to_sql('household_income_by_neighborhood', engine,if_exists='append')

In [29]:
#Save data to a csv file
output_data_file = "target_files/MLS_Income_by_Neighborhoods.csv"
output_path = os.path.join(output_data_file)
clean_df.to_csv(output_path, header=True)